{% extends 'base.html' %}


{% block css %}

<style>
    .margin_div {
        margin-top: 20px;
    }
</style>

<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 100%;
    }
</style>

{% endblock %}

{% block content %}

<div class="az-content az-content-dashboard-eight">
    <div class="container d-block">
        <h2 class="az-content-title tx-24 mg-b-5">Resumo da Inscrição</h2>
        <p class="mg-b-20 mg-lg-b-25"></p>

        <div class="row row-sm mg-b-20">

            <div class="col-sm-12">
                <div class="card card-dashboard-twenty ht-md-100p">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6"> Nome Completo: <b>{{ inscricao.nome|upper }}</b> </div>
                            <div class="col-sm-6"> Data Nascimento: <b>{{ inscricao.data_nascimento }}</b> </div>
                        </div>
                        <div class="margin_div"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                Observações: <b>{{ inscricao.observacao }}</b>
                            </div>
                        </div>
                        <div class="margin_div"></div>

                        <div class="row">

                            {% if inscricao.num_dependentes > 0 %}
                            <div class="col-sm-4"> Dependentes: <b>{{ inscricao.num_dependentes }}</b> </div>
                            {% endif %}

                            <div class="col-sm-4"> Valor: <b>R$ {{ inscricao.valor }}</b> </div>
                            <div class="col-sm-4"> Valor Total: <b>R$ {{ inscricao.valor_total }}</b> </div>
                        </div>
                        <div class="margin_div"></div>

                        {% if inscricao.num_dependentes > 0 %}
                        <div class="row">
                            <div class="col-sm-12">
                                <br>
                                <h4>Dependentes</h4>
                            </div>
                        </div>

                        <hr>

                        {% for dep in dependentes %}

                        <div class="row">
                            <div class="col-sm-6">
                                Nome: <b>{{ dep.nome|upper }}</b>
                            </div>
                            <div class="col-sm-6">
                                Nome Crachá: <b>{{ dep.nome_cracha|upper }}</b>
                            </div>
                        </div>
                        <div class="margin_div"></div>

                        <div class="row">
                            <div class="col-sm-4">
                                Grau: <b>{{ dep.grau_display }}</b>
                            </div>
                            <div class="col-sm-4">
                                Data nascimento: <b>{{ dep.data_nascimento }}</b>
                            </div>
                            <div class="col-sm-4">
                                Idade: <b>{{ dep.idade }}</b>
                            </div>
                        </div>
                        <div class="margin_div"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                Valor: R$ <b>{{ dep.valor }}</b>
                            </div>
                        </div>

                        <hr>

                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% if inscricao.conferencia.informacoes_arquivo is not None and inscricao.conferencia.informacoes_arquivo.url is not None %}

    <div class="container d-block">
        <h2 class="az-content-title tx-24 mg-b-5">Informações</h2>
        <p class="mg-b-20 mg-lg-b-25"></p>

        <div class="row row-sm mg-b-20">

            <div class="col-sm-12">
                <div class="card card-dashboard-twenty ht-md-100p">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h4><a href="{{ inscricao.conferencia.informacoes_arquivo.url }}" target="blank">Arquivo com Informações</a></h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endif %}

    {% if inscricao.conferencia.endereco|length > 5 %}

    <div class="container d-block">
        <h2 class="az-content-title tx-24 mg-b-5">Endereço</h2>
        <p class="mg-b-20 mg-lg-b-25"></p>

        <div class="row row-sm mg-b-20">

            <div class="col-sm-12">
                <div class="card card-dashboard-twenty ht-md-100p">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Endereço: <b>{{ inscricao.conferencia.endereco }}</b></h4>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q={{ inscricao.conferencia.endereco|urlencode }}&t=&z=17&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endif %}

    {% if inscricao.conferencia.informacoes|length > 5 %}

    <div class="container d-block">
        <h2 class="az-content-title tx-24 mg-b-5">Informações Gerais</h2>
        <p class="mg-b-20 mg-lg-b-25"></p>

        <div class="row row-sm mg-b-20">

            <div class="col-sm-12">
                <div class="card card-dashboard-twenty ht-md-100p">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                {{ inscricao.conferencia.informacoes_as_html|safe }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endif %}

</div>

{% endblock %}