{% extends 'base.html' %}


{% block content %}

<div class="az-content az-content-dashboard-eight">
    <div class="container d-block">
        <h2 class="az-content-title tx-24 mg-b-5">Resumo da Inscrição</h2>
        <p class="mg-b-20 mg-lg-b-25"></p>

        <div class="row row-sm mg-b-20">

            <div class="col-sm-12">
                <div class="card card-dashboard-twenty ht-md-100p">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-12"> Nome Completo: {{ inscricao.nome }} </div>
                            <div class="col-sm-12"> Data Nascimento: {{ inscricao.data_nascimento }} </div>

                            {% if inscricao.total_dependentes > 0 %}
                                <div class="col-sm-12"> Dependentes: {{ inscricao.total_dependentes }} </div>
                            {% endif %}

                            <div class="col-sm-12"> Valor Unitário: R$ {{ inscricao.valor }} </div>
                            <div class="col-sm-12"> Valor Total: R$ {{ inscricao.valor_total }} </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <br><h4>Dependentes</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}