{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Sistema de incrição em conferencias">
    <meta name="author" content="Thiago Freitas">

    <title>{{ conferencia.titulo }}</title>

    <!-- vendor css -->
    <link href="{% static 'lib/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/typicons.font/typicons.css' %}" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="{% static 'css/azia.css' %}">

  </head>
  <body class="az-body az-dashboard-eight">

    <div class="az-header az-header-primary">
      <div class="container" style="justify-content: center;">
        <div style="align-self: center;">
          <span style="color: white; font-size: x-large;">Inscrições - {{ conferencia.titulo }}</span>
        </div><!-- az-header-left -->
      </div><!-- container -->
    </div><!-- az-header -->

    <div class="az-navbar az-navbar-two az-navbar-dashboard-eight">
      <div class="container">
        <div><a href="index.html" class="az-logo">az<span>i</span>a</a></div>
        <div class="az-navbar-search">
          <input type="search" class="form-control" placeholder="Search for schedules and events...">
          <button class="btn"><i class="fas fa-search "></i></button>
        </div><!-- az-navbar-search -->
        <ul class="nav">
          <li class="nav-label">Main Menu</li>
          <li class="nav-item active">
            <a href="index.html" class="nav-link"><i class="typcn typcn-clipboard"></i>Resumo</a>
          </li><!-- nav-item -->
          <li class="nav-item">
            <a href="index.html" class="nav-link"><i class="far fa-calendar-check"></i>Pagamento</a>
          </li><!-- nav-item -->
        </ul><!-- nav -->
      </div><!-- container -->
    </div><!-- az-navbar -->

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="az-footer">
      <div class="container">
        <span>Igreja em Contagem</span>
      </div><!-- container -->
    </div><!-- az-footer -->

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    {% block js %}
    {% endblock %}


  </body>
</html>
